In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

grupos_totales=3

#Se importa el listado de la población ( muestra con numeros aleatorios en Excel)
#respetando las primisas del problema planteado

df1 = pd.read_excel('Listado_Muestras.xlsx', sheet_name='Hoja1')
df1

      ID       PESO SEXO
0      1  38.514513    M
1      2  37.787986    M
2      3  38.535124    H
3      4  38.673879    M
4      5  35.604918    M
5      6  36.991394    H
6      7  36.966111    M
7      8  37.701626    M
8      9  37.833170    H
9     10  35.050899    H
10    11  35.402696    H
11    12  38.023672    H
12    13  38.711871    M
13    14  35.085768    H
14    15  36.028274    H
15    16  35.908462    H
16    17  38.014551    H
17    18  37.327083    H
18    19  37.088009    H
19    20  35.116574    H
20    21  35.382471    M
21    22  38.586459    M
22    23  39.019635    H
23    24  38.185416    M
24    25  37.929436    M
25    26  37.100452    M
26    27  37.648946    M
27    28  35.588748    H
28    29  35.690128    H
29    30  36.121541    H
..   ...        ...  ...
170  171  37.252963    H
171  172  37.003317    M
172  173  35.131526    M
173  174  35.713947    H
174  175  35.446040    M
175  176  38.068650    M
176  177  34.938760    M
177  178  38.395580    H
178  179  37.066651    M
179  180  38.460326    M
180  181  37.027341    M
181  182  37.279054    M
182  183  37.879056    M
183  184  37.627298    M
184  185  38.884506    H
185  186  35.026831    M
186  187  37.833609    M
187  188  37.459870    H
188  189  36.536433    M
189  190  36.712622    H
190  191  37.716723    M
191  192  37.882490    H
192  193  36.280954    H
193  194  38.869697    H
194  195  37.209320    M
195  196  37.156116    H
196  197  37.530823    M
197  198  37.209010    H
198  199  36.075984    H
199  200  35.463869    H

[200 rows x 3 columns]

In [2]:
# Acomodo de forma ascendente los valores de la columna 'Peso':
df1 = df1.sort_values(by='PESO', ascending=True)
df1

      ID       PESO SEXO
78    79  34.906073    M
176  177  34.938760    M
37    38  34.963937    H
137  138  34.979946    M
128  129  34.992267    H
185  186  35.026831    M
129  130  35.047041    M
9     10  35.050899    H
31    32  35.059721    H
53    54  35.075202    H
13    14  35.085768    H
131  132  35.101162    M
164  165  35.112004    M
19    20  35.116574    H
172  173  35.131526    M
50    51  35.152177    H
88    89  35.154973    H
122  123  35.158023    M
64    65  35.195701    H
66    67  35.210474    H
36    37  35.223192    M
130  131  35.248844    H
55    56  35.294933    M
81    82  35.372816    M
20    21  35.382471    M
10    11  35.402696    H
154  155  35.431231    M
174  175  35.446040    M
136  137  35.446320    H
111  112  35.447786    M
..   ...        ...  ...
0      1  38.514513    M
146  147  38.531214    H
2      3  38.535124    H
82    83  38.550875    M
60    61  38.578097    H
35    36  38.580063    H
21    22  38.586459    M
90    91  38.596988    H
33    34  38.601358    H
95    96  38.621265    M
155  156  38.627468    M
3      4  38.673879    M
103  104  38.676825    M
61    62  38.680444    H
68    69  38.684935    H
12    13  38.711871    M
107  108  38.838136    H
87    88  38.867950    H
193  194  38.869697    H
77    78  38.875366    M
105  106  38.879505    H
184  185  38.884506    H
98    99  38.922136    H
45    46  38.967544    H
51    52  38.999807    M
54    55  39.006942    H
22    23  39.019635    H
144  145  39.038113    H
69    70  39.042081    H
86    87  39.060567    M

[200 rows x 3 columns]

In [3]:
#Realizo el acomodo del ID para mantener de menor a mayor la tabla
df1.ID = range(df1.shape[0])
df1

      ID       PESO SEXO
78     0  34.906073    M
176    1  34.938760    M
37     2  34.963937    H
137    3  34.979946    M
128    4  34.992267    H
185    5  35.026831    M
129    6  35.047041    M
9      7  35.050899    H
31     8  35.059721    H
53     9  35.075202    H
13    10  35.085768    H
131   11  35.101162    M
164   12  35.112004    M
19    13  35.116574    H
172   14  35.131526    M
50    15  35.152177    H
88    16  35.154973    H
122   17  35.158023    M
64    18  35.195701    H
66    19  35.210474    H
36    20  35.223192    M
130   21  35.248844    H
55    22  35.294933    M
81    23  35.372816    M
20    24  35.382471    M
10    25  35.402696    H
154   26  35.431231    M
174   27  35.446040    M
136   28  35.446320    H
111   29  35.447786    M
..   ...        ...  ...
0    170  38.514513    M
146  171  38.531214    H
2    172  38.535124    H
82   173  38.550875    M
60   174  38.578097    H
35   175  38.580063    H
21   176  38.586459    M
90   177  38.596988    H
33   178  38.601358    H
95   179  38.621265    M
155  180  38.627468    M
3    181  38.673879    M
103  182  38.676825    M
61   183  38.680444    H
68   184  38.684935    H
12   185  38.711871    M
107  186  38.838136    H
87   187  38.867950    H
193  188  38.869697    H
77   189  38.875366    M
105  190  38.879505    H
184  191  38.884506    H
98   192  38.922136    H
45   193  38.967544    H
51   194  38.999807    M
54   195  39.006942    H
22   196  39.019635    H
144  197  39.038113    H
69   198  39.042081    H
86   199  39.060567    M

[200 rows x 3 columns]

In [4]:
# Ordenar por los valores de la columna 'Peso' para la tabla:
tabla = df1.sort_values(by='PESO', ascending=True)

In [5]:
# Ordenar por los valores de la columna 'Peso' para la tabla2:
tabla2 = df1.sort_values(by='PESO', ascending=True)

In [6]:
# Ordenar por los valores de la columna 'Peso' para la tabla3:
tabla3 = df1.sort_values(by='PESO', ascending=True)

In [7]:
#Realizo la cuenta de cuantos especimenes hay en el archivo para saber de cuantos especimenes van a ser mis grupos

cuenta = 0
for i in df1.index:
    cuenta = cuenta + 1
print(cuenta)

200

In [8]:
# Realizo la división de los especimenes totales y los grupos totales que de acuerdo al problema son 3
muestras = cuenta // grupos_totales
print(muestras)

66

In [9]:
#Calculo el residuo de la division de los especimenes vs grupos totales
sobrante =cuenta % 3
print(sobrante)

2

In [10]:
#Realizo una comparación de los especimenes para tomar los primeros elementos de la variable "muestras"
#y agrego una columna para el grupo 1

tabla['Grupo_1'] = tabla['ID'].apply(lambda x: 'True' if x <= muestras else 'False')

# Ordeno los valores de la columna 'Grupo 1' y elimino, los que estaría fuera del rango de acuerdo a la variable muestras

grupo1 = tabla.sort_values(by='Grupo_1', ascending=False)
grupo1 = grupo1.drop(grupo1[grupo1.ID >= muestras].index)

#Exporto el listado
grupo1.to_excel("Grupo_1.xlsx", sheet_name='Grupo_1')

#Imprimo la tabla
grupo1

     ID       PESO SEXO Grupo_1
78    0  34.906073    M    True
83   43  35.845824    M    True
91   49  35.988039    H    True
153  48  35.975125    H    True
65   47  35.974686    H    True
99   46  35.943939    H    True
163  45  35.919157    M    True
15   44  35.908462    H    True
41   42  35.769155    H    True
27   34  35.588748    H    True
173  41  35.713947    H    True
34   40  35.704137    M    True
165  39  35.702157    M    True
28   38  35.690128    H    True
116  37  35.659380    M    True
147  36  35.625236    M    True
160  50  36.003334    H    True
151  51  36.006226    H    True
14   52  36.028274    H    True
71   53  36.034098    H    True
198  54  36.075984    H    True
29   55  36.121541    H    True
169  56  36.131209    M    True
56   57  36.160942    M    True
96   58  36.228016    M    True
30   59  36.244796    M    True
48   60  36.252170    H    True
106  61  36.268598    M    True
192  62  36.280954    H    True
114  63  36.340930    H    True
..   ..        ...  ...     ...
156  32  35.558408    M    True
137   3  34.979946    M    True
128   4  34.992267    H    True
185   5  35.026831    M    True
129   6  35.047041    M    True
9     7  35.050899    H    True
31    8  35.059721    H    True
53    9  35.075202    H    True
13   10  35.085768    H    True
131  11  35.101162    M    True
164  12  35.112004    M    True
19   13  35.116574    H    True
172  14  35.131526    M    True
50   15  35.152177    H    True
37    2  34.963937    H    True
122  17  35.158023    M    True
10   25  35.402696    H    True
64   18  35.195701    H    True
46   31  35.546327    M    True
199  30  35.463869    H    True
111  29  35.447786    M    True
136  28  35.446320    H    True
154  26  35.431231    M    True
174  27  35.446040    M    True
20   24  35.382471    M    True
81   23  35.372816    M    True
55   22  35.294933    M    True
130  21  35.248844    H    True
36   20  35.223192    M    True
66   19  35.210474    H    True

[66 rows x 4 columns]

In [11]:
#Realizo una comparación de los especimenes para tomar los primeros elementos de la variable "muestras"
#y agrego una columna para el grupo 2

tabla2['Grupo_2'] = tabla2['ID'].apply(lambda x: 'True' if ((x >= muestras) & (x <=(muestras*2+sobrante))) else 'False')

# Ordeno los valores de la columna 'Grupo 2' y elimino los que estaría fuera del rango de acuerdo a la variable muestras

grupo2 = tabla2.sort_values(by='Grupo_2', ascending=False)
grupo2 = grupo2.drop(grupo2[grupo2.ID < (muestras)].index)
grupo2 = grupo2.drop(grupo2[grupo2.ID >= (muestras*2+sobrante)].index)

#Exporto el listado
grupo2.to_excel("Grupo_2.xlsx", sheet_name='Grupo_2')

#Imprimo la tabla
grupo2

      ID       PESO SEXO Grupo_2
197  100  37.209010    H    True
112   84  36.967587    M    True
141   98  37.192426    H    True
84    97  37.170915    H    True
195   96  37.156116    H    True
52    95  37.118325    M    True
25    94  37.100452    M    True
18    93  37.088009    H    True
138   92  37.078337    H    True
178   91  37.066651    M    True
159   90  37.053394    M    True
168   89  37.033221    M    True
93    88  37.030414    H    True
180   87  37.027341    M    True
171   86  37.003317    M    True
5     85  36.991394    H    True
6     83  36.966111    M    True
126   67  36.417460    M    True
135   82  36.933865    M    True
89    81  36.842728    H    True
38    80  36.743678    H    True
189   79  36.712622    H    True
145   78  36.665277    H    True
110   77  36.650131    M    True
162   76  36.627368    H    True
139   75  36.626255    H    True
42    74  36.622795    M    True
150   73  36.615683    H    True
143   72  36.605001    H    True
59    71  36.584387    H    True
..   ...        ...  ...     ...
157  128  37.705639    M    True
7    127  37.701626    M    True
97   126  37.701055    H    True
142  125  37.673086    M    True
74   124  37.652758    M    True
26   123  37.648946    M    True
183  122  37.627298    M    True
43   121  37.621427    H    True
121  120  37.614517    M    True
32   119  37.610079    M    True
44   118  37.592928    M    True
67   117  37.587110    M    True
196  116  37.530823    M    True
167  115  37.483360    M    True
187  114  37.459870    H    True
117  113  37.399509    H    True
72   112  37.344626    H    True
75   111  37.333017    H    True
17   110  37.327083    H    True
149  109  37.303705    M    True
124  108  37.291969    M    True
134  107  37.281561    M    True
181  106  37.279054    M    True
58   105  37.276015    M    True
132  104  37.271827    H    True
166  103  37.266848    M    True
47    68  36.469592    H    True
80    66  36.408286    M    True
63   133  37.760186    M    True
102  132  37.758496    M    True

[68 rows x 4 columns]

In [12]:
#Realizo una comparación de los especimenes para tomar los primeros elementos de la variable "muestras"
#y agrego una columna para el grupo 3

tabla3['Grupo_3'] = tabla3['ID'].apply(lambda x: 'True' if ((x >= muestras*2+sobrante)) else 'False')

# Ordeno los valores de la columna 'Grupo 3' y elimino los que estaría fuera del rango de acuerdo a la variable muestras

grupo3 = tabla3.sort_values(by='Grupo_3', ascending=False)
grupo3 = grupo3.drop(grupo3[grupo3.ID < (muestras*2+sobrante)].index)

#Exporto el listado
grupo3.to_excel("Grupo_3.xlsx", sheet_name='Grupo_3')

#Imprimo la tabla
grupo3

      ID       PESO SEXO Grupo_3
86   199  39.060567    M    True
152  149  38.051196    H    True
94   164  38.366670    H    True
40   163  38.302470    H    True
62   162  38.298346    M    True
123  161  38.232851    H    True
119  160  38.214500    H    True
133  159  38.203346    M    True
23   158  38.185416    M    True
125  157  38.175697    M    True
127  156  38.138615    M    True
104  155  38.135008    M    True
118  154  38.123526    H    True
101  153  38.101228    M    True
79   152  38.095364    M    True
113  151  38.070500    M    True
11   148  38.023672    H    True
177  166  38.395580    H    True
16   147  38.014551    H    True
85   146  38.003900    H    True
76   145  37.957083    M    True
24   144  37.929436    M    True
120  143  37.909681    H    True
49   142  37.891495    M    True
57   141  37.888608    H    True
191  140  37.882490    H    True
182  139  37.879056    M    True
186  138  37.833609    M    True
8    137  37.833170    H    True
39   136  37.815916    H    True
..   ...        ...  ...     ...
12   185  38.711871    M    True
107  186  38.838136    H    True
87   187  38.867950    H    True
193  188  38.869697    H    True
77   189  38.875366    M    True
184  191  38.884506    H    True
45   193  38.967544    H    True
61   183  38.680444    H    True
51   194  38.999807    M    True
54   195  39.006942    H    True
22   196  39.019635    H    True
144  197  39.038113    H    True
69   198  39.042081    H    True
158  168  38.445277    H    True
68   184  38.684935    H    True
105  190  38.879505    H    True
179  169  38.460326    M    True
21   176  38.586459    M    True
103  182  38.676825    M    True
0    170  38.514513    M    True
146  171  38.531214    H    True
2    172  38.535124    H    True
82   173  38.550875    M    True
35   175  38.580063    H    True
60   174  38.578097    H    True
90   177  38.596988    H    True
33   178  38.601358    H    True
95   179  38.621265    M    True
155  180  38.627468    M    True
3    181  38.673879    M    True

[66 rows x 4 columns]

# De esa manera se realizan los 3 grupos indicados en la actividad con los pesos lo más parecidos.